<ion-header>

<app-navbar title="Login"></app-navbar>

</ion-header>


<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col col-4>
        </ion-col>
        <ion-col col-4>
                <div *ngIf="authService.user$ | async; else guest">
                <!-- <div *ngIf="authService.user | async; then authenticated else guest"> -->
                </div>
          
        </ion-col>
      <ion-col col-4>

      </ion-col>




<!-- User not logged in -->
<ng-template #guest>
 
  <h3>HELLO, GUEST</h3>
  <p>Login to get started...</p>

  <button ion-button small color="primer" (click)="ongoogleLogin()">Connect Google</button>

</ng-template>

  <!-- User logged in -->
<!--   <ng-template #authenticated>
      <div *ngIf="authService.user | async as user">
          <h3>Hello, {{ user.displayName }}</h3>
          <img  [src]="user.photoURL">
          <p>UID: {{ user.uid }}</p>
          <p>Favorite Color: {{ user?.favoriteColor }} </p>
          <button (click)="authService.signOut()">Logout</button>
      </div>

  </ng-template> -->
</ion-row>
</ion-grid>

</ion-content>
