<ion-card>
  <ion-card-header color="primer">Add Item</ion-card-header>
  <ion-grid class="page-margin">
    <ion-row>
      <ion-col offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-3 col-sm-6>

        <form #loginForm="ngForm" novalidate>
          <ion-card-content>
            <ion-item>
              <ion-label color="primary">Title :</ion-label>
              <ion-input [(ngModel)]="item.title" type="text" placeholder="Item Name" name="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary">Description :</ion-label>
              <ion-input [(ngModel)]="item.description" type="text" placeholder="Add Description" name="description"></ion-input>
            </ion-item>
          </ion-card-content>

          <ion-row class="add-items">
            <div>
              <button ion-button color="secondary" (click)="onSubmit()">Submit</button>
            </div>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
