<ion-header>
    <ion-grid fixed>
        <app-navbar title="Home"></app-navbar>
      </ion-grid>
</ion-header>

<ion-content>
    <div *ngIf="authService.user$ | async as user">
        <h3>Hello, {{ user.displayName }}</h3>
        <img  [src]="user.photoURL">
        <p>UID: {{ user.uid }}</p>
        <p>Favorite Color: {{ user?.favoriteColor }} </p>
        <button (click)="onLogout()">Logout</button>
    </div>

  <ul>
    <h2>Dynamic Query from Firestore:</h2>
      
    <li *ngFor="let lesson of lesson$ | async">
      {{ lesson.title }} {{lesson.endDate | date }}
    </li>
  </ul>
<ion-card>
  <button ion-button color="primary" (click)="previousLesson()">Previous</button>
  <button ion-button color="secondary" (click)="nextLesson()">Next</button>
</ion-card>
<ion-fab right bottom>
        <button ion-fab color="twitter" mini navPush="ItemPage"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
